
body{
    background-color: rgba(64, 60, 60, 0.57);
    background: url(images/pexels-c%C3%A1tia-matos-1072179.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    border:1px solid #007680;
    background: rgba(21, 31, 36, 0.56);
    width:50%;
    height: 450px;
    margin:auto;
    padding-top: 35px;
    padding-bottom: 15px;
    margin-top:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    margin-bottom: 30px;
    position: relative;
    
}

button{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin: 7px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.container input[type = "text"]
{
    border: 0;
    background: #211f1e;
    display: block;
    margin: 4px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    height: 30px;
    font: font-family: 'Kufam', cursive;
    
}
.container input[type = "text"]:focus
{
    width:280px;
    border-color: #2ecc71;
}

#sum,#product,#fact,#clear{
    border: 0;
    background: none;
    display: inline;
    border: 2px solid #2ecc71;
    color: white;
    border-radius: 20px;
    
}

#sum:hover,#product:hover,#fact:hover{
    background: #3dc63d;
}
#clear:hover{
    background: #2ecc71;
}

.heading {
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Anton', sans-serif;
    color: #fdf9f9;
    text-shadow: 2px 2px #381212;
/*    border: 2px solid white;*/
    word-spacing: 2px;
}

.signup {
    display: flex;
    position: absolute;
    margin-right: 10px;
    right: 0;
    top: 0;
    margin-top: 15px;
}

.sign,.log,.about {
    text-decoration: none;
    color: white;
/*    margin-right: 10px;*/
    padding: 10px;
    border: 2px solid #164e2e;
    margin: 10px;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    
}
.sign:hover,.log:hover,.about:hover{
    background-color: #329325;
}



.icons{
    position:absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}
img {
   width: 25px;
    height: 25px;
    transform: scale(1);
    transition: .3s;
}

.symbols {
    display: flex;
    flex-direction: row;
    list-style-type: none;

}
.symbols li a{
    margin-right: 10px;
}

img:hover{
    transform: scale(2) ;
/*    transform: translate(10px,0px);*/
    
}