body{
    margin: 0;
    padding: 0;
    background-color: blue;
    background: url(pexels-pixabay-355465.jpg);
    background-size: cover;
    
    
}

.title{
    margin-top: 100px;
    color: #fff;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;  
}
.title h1{
    font-size: 32px;
    line-height: 10px;
    letter-spacing: 1px;
}
.title h2{
    font-size: 16px;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    padding: 15px;
}
.submit {
    height: 45px;
    background-color: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 5px;
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 24px;
/*    font-family: 'Oswald', sans-serif;*/
    
}
form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
    
}
.form-control:hover{
    background-color: rgba(0, 0, 0, 0.31);
    border-top: 2px solid #8d3b10;
    border-bottom: 2px solid #8d3b10;
}
.container{
    width: 70%;
    display: flex;
    margin-left: 220px;
    height: 300px;
    background: transparent;
    margin-top: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}