.container{
/*    margin: ;*/
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 14, 14, 0.95);
    
    
    flex-direction: column;
}
.container h2{
    margin-bottom: 10px;
    color: white;
    font: Tahoma;
}
.balls{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.ball1 {
/*    display: block;*/
    width: 15px;
    height: 18px;
    background-color: white;
    margin: 5px;
    border-radius: 50px;
    animation: loader 0.7s linear 0.3s infinite;
    animation-delay: 0.3s;
    transition: 3s;
    
}
.ball2 {
/*    display: block;*/
    width: 15px;
    height: 18px;
    background-color: white;
    margin: 5px;
    border-radius: 50px;
    animation: loader 0.7s linear 0.3s infinite;
    animation-delay: 0.4s;
    transition: 5s;
    
}
.ball3 {
    width: 15px;
    height: 18px;
    background-color: white;
    margin: 5px;
    border-radius: 50px;
    animation-name: loader;
    animation-duration:0.7s;
    animation-timing-function: linear;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    transition: 8s;
    
}
@keyframes loader{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px)
    }
    100%{
        transform: translateY(0)
    }
}

img{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 160px;
} 
